.mss-slides-container {
    position: relative;
    margin: 20px 0;
}

.mss-slides-container .slide {
    position: absolute;
    left: 0; top: 0;
    transform: scaleX(0);
    -ms-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transition: 0.3s transform linear;
    -moz-transition: 0.3s transform linear;
    transform-origin: left;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.mss-slides-container .static-bg {
    /* position: absolute; */
    z-index: -500;
}

/* arrows */
.mss-slides-container .arrow {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.mss-slides-container .arrow:hover {
    cursor: pointer;

}

.mss-slides-container .arrow.left {
    left: 0;
    background: transparent;
}

.mss-slides-container .arrow.right {
    right: 0;
    background: transparent;
}

.mss-slides-container .arrow.left:hover {
    background: rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
}

.mss-slides-container .arrow.right:hover {
    background: rgba(0, 0, 0, 0.2);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%);
}

/** indicators **/
.mss-slides-container .indicators {
    list-style-type: none;
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.mss-slides-container .indicators li {
    display: -inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #FFF;
    margin: 5px;
}

.mss-slides-container .indicators li.active {
    background-color: grey;
}