* {
    box-sizing: border-box;
}

/****************************
---------- Header -----------
****************************/
.settings-wrapper {
    overflow: hidden;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    background: #FFF;
}

.header {
    background: #222222;
}

.header h2 {
    display: inline-block;
    margin: 0;
    padding: 20px 0 20px 20px;
    color: #FFF;
}

.header span {
    margin: 0;
    padding: 20px 20px 20px 0;
    font-weight: 700;
    float: right;
    color: #b2b2b2;
}

/****************************
---------- Images -----------
****************************/
#images-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
}

#images-container .image {
    position: relative;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin: 8px 8px 8px 8px;
    height: 150px;
    width: 150px;
}

#images-container .image.sortable {
    transition: 0.1s transform linear;
    cursor: all-scroll;
}

#images-container .image.sortable:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

#images-container .image span {
    color: #808080;
}

#images-container #add-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed #808080 3px;
}

#images-container .image .delete-image {
    height: 25px;
    width: 25px;
    right: 0; top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF0000;
}

#images-container .image .delete-image:hover {
    cursor: pointer;
}

#images-container .image .delete-image span {
    color: #FFF;
}

#images-container .image .delete-image:hover span {
    animation: 0.5s wiggle-button linear;
}

@keyframes wiggle-button {
    20% {
        transform: rotate(30deg);
    }
    40% {
        transform: rotate(-30deg);
    }
    60% {
        transform: rotate(30deg);
    }
    80% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/****************************
---------- Footer -----------
****************************/
.footer {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
}

.footer button#btn-save {
    margin: 15px 0;
    align-self: center;
}

.footer span {
    margin-left: 30px;
    margin-top: 8px;
    display: block;
}